@{
    ViewData["Title"] = "All Dishes";
}

@model List<Dish> //data type is list of dishes and Dish is coming from Controller where we pass in Chef in the return view

<div class="container mt-4">
    <div class="card" style="border: 8px solid #ff1493;">
        <div class="card-header" style="background-color: #ff69b4; color: white;">
            <h1 class="display-4">Yum! Check out our tasty dishes!</h1>
        </div>

        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Drag Queen</th>
                        <th scope="col">Tastiness</th>
                        <th scope="col">Calories</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Dish d in Model)
                    {
                        <tr>
                            <td>@d.DishName</td>
                            <td>@d.Creator.FirstName @d.Creator.LastName</td>
                            <td>@d.Tastiness</td>
                            <td>@d.Calories</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>